Django==3.2.3
djangorestframework==3.12.4
django-cors-headers==3.13.0

flake8==6.0.0
flake8-isort==6.0.0
isort==5.12.0
black==23.12.1

# Для работы с базой данных (если используете PostgreSQL)
psycopg2-binary==2.9.9

# Для работы с переменными окружения
python-dotenv==1.0.0